attachments/

.obsidian/
!.obsidian/core-plugins.json
!.obsidian/community-plugins.json

# plugins
.obsidian/plugins/attachments-cache/
!.obsidian/plugins/attachments-cache/.hotreload
!.obsidian/plugins/attachments-cache/data.json
