__cache/

.obsidian/workspace.json

# plugins
.obsidian/plugins/obsidian-attachments-cache/*
!.obsidian/plugins/obsidian-attachments-cache/.hotreload
!.obsidian/plugins/obsidian-attachments-cache/data.json
